.results{
    padding: .5rem;
    border: 1pt solid green;
}

.text{
    text-align: center;
    line-height: 18pt;
}

.numbers{
    font-size: 12pt;
    font-weight: bold;
}

h3{
    font-weight: normal;
}

h5{
    margin: 10px;
    padding: 0;
    font-weight: normal;
}


@media screen and (min-width: 640px){
    .results{
        margin: 1rem;
        padding: 1rem;
    }

    .text{
        font-size: 14pt;
    }
}

@media screen and (min-width: 1080px){
    .results{
        padding: 1rem;
    }

    h3{
        font-size: 18pt;
    }

    .text{
        font-size: 16pt;
    }
}