.Menu{
    position: absolute;
    left: 0;
    top: 0;
}

img{
    margin: 10px;
    width: 50px;
    height: 50px;
}

.menu-links{
    margin: 5pt;
}

.link{
    margin: 2pt;
    font-size: 12pt;
}

.link:hover{
    font-size: 12pt;
    background-color: #4d9c75;
    border-radius: 5pt 5pt;
    color: white;
}