.Menu{
    position: absolute;
    left: 0;
    top: 0;
}

img{
    margin: 10px;
    width: 50px;
    height: 50px;
}

.menu-links{
    margin: 5pt;
}

.link{
    margin: 2pt;
    font-size: 12pt;
}

.link:hover{
    font-size: 12pt;
    background-color: #4d9c75;
    border-radius: 5pt 5pt;
    color: white;
}

@media screen and (min-width: 640px){

}

@media screen and (min-width: 1080px){
    img{
        margin: 10px;
        width: 75px;
        height: 75px;
    }


    .link{
        font-size: 24pt;
    }

    .link:hover{
        font-size: 24pt;
    }
}